@import "tailwindcss";

@source not "./daisyui{,*}.mjs";
@source inline("bg-{red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose,slate,gray,zinc,neutral,stone}-{50,{100..900..100},950}");

@theme {
  --font-sans: "Montserrat";
  --font-ubuntu: "Ubuntu";
}

@plugin "./daisyui.mjs";

/* Makes the Turbo progress bar match the current theme. */
.turbo-progress-bar {
  @apply bg-primary;
}

/* Animates lazy-loaded Turbo frames. */
turbo-frame[busy] {
  @apply animate-pulse;
}

/* Makes anchor links to clear the header. */
[id]:target {
  @apply scroll-mt-16;
}
