@import "tailwindcss";
@import "./action-button.css";
@import "./counter.css";
@import "./notice.css";
@import "./pagy.css";
@import "./turbo.css";

@source not "./daisyui{,*}.mjs";

@theme {
  --font-sans: "Montserrat";
  --font-ubuntu: "Ubuntu";
}

@plugin "./daisyui.mjs";

@custom-variant hocus (&:hover, &:focus);

/* Adds a utility class to use DaisyUI's noise anywhere. */
@utility noise {
  background-size: auto, calc(var(--noise) * 100%);
  background-image: none, var(--fx-noise);
}
