@import "tailwindcss";

@source not "./daisyui{,*}.mjs";
@source inline("bg-{red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose,slate,gray,zinc,neutral,stone}-{50,{100..900..100},950}");

@theme {
  --font-sans: "Montserrat";
  --font-ubuntu: "Ubuntu";
}

@plugin "./daisyui.mjs";

@custom-variant hocus (&:hover, &:focus);

/* Adds a utility class to use DaisyUI's noise anywhere. */
@utility noise {
  background-size: auto, calc(var(--noise) * 100%);
  background-image: none, var(--fx-noise);
}

@layer components {
  .notice {
    @apply alert mt-2 bg-base-100/20 text-base-content shadow-md backdrop-blur-xl transition-all duration-750 ease-in-out;
  }

  .notice-minimized {
    @apply text-[0em] border-0 m-0 mt-0 p-0 h-0;
  }

  .notice-error {
    @apply alert-error;
  }

  .notice-warning {
    @apply alert-warning;
  }

  .notice-success {
    @apply alert-success;
  }

  .notice-info {
    @apply alert-info;
  }

  ul:has(.counter) {
    counter-reset: list;
  }

  .counter {
    counter-increment: list;
  }

  .counter::before {
    content: counter(list, decimal-leading-zero) " ";
  }
}

/* Makes anchor links clear the header. */
[id]:target {
  @apply scroll-mt-16;
}

/* Animates lazy-loaded Turbo frames. */
turbo-frame[busy] {
  @apply animate-pulse;
}

/* Makes the Turbo progress bar match the current theme. */
.turbo-progress-bar {
  @apply bg-primary;
}

/* Makes Pagy pagination match the current theme. */
.pagy {
  @apply join;

  a {
    @apply join-item btn;
  }

  a[aria-current] {
    @apply btn-active;
  }

  a[role="separator"],
  a[role="link"]:not([aria-current]) {
    @apply btn-disabled;
  }
}
