/* Toast for Rails alerts. */
@layer components {
  .notice {
    @apply mt-2 alert bg-base-100/20 text-base-content shadow-md backdrop-blur-xl transition-all duration-750 ease-in-out;
  }

  .notice-minimized {
    @apply m-0 mt-0 h-0 border-0 p-0 text-[0em];
  }

  .notice-error {
    @apply alert-error;
  }

  .notice-warning {
    @apply alert-warning;
  }

  .notice-success {
    @apply alert-success;
  }

  .notice-info {
    @apply alert-info;
  }
}
