/* Toast for Rails alerts. */
@layer components {
  .notice {
    @apply mt-2 alert bg-base-100/20 text-base-content shadow-md backdrop-blur-xl transition-transform duration-750 ease-in-out;
  }

  .notice-minimized {
    @apply translate-x-[150%];
  }

  .notice-error {
    @apply alert-error;
  }

  .notice-warning {
    @apply alert-warning;
  }

  .notice-success {
    @apply alert-success;
  }

  .notice-info {
    @apply alert-info;
  }
}
