/* Makes Pagy pagination match the current theme. */
@layer components {
  .pagy {
    @apply join;

    a {
      @apply btn join-item;
    }

    a[aria-current] {
      @apply btn-active;
    }

    a[role="separator"],
    a[role="link"]:not([aria-current]) {
      @apply btn-disabled;
    }
  }
}
