<dialog class="modal" data-controller="search" data-search-target="modal" data-action="keydown.meta+k@document->search#hotkey">
  <div class="modal-box p-0 bg-base-100/80 backdrop-blur w-full max-w-xl">
    <%= turbo_frame_tag :search, src: search_path, data: { search_target: "frame", url: search_path } %>
  </div>
  <div class="modal-backdrop" data-action="click->search#hide"></div>
</dialog>
