<%# locals: (theme:) %>
<div class="action-button action-button-flower relative z-0 bottom-auto inset-0">
  <div tabindex="0" role="button" class="btn btn-circle border border-base-content/50">
    <i class="fa-solid fa-bars-progress"></i>
  </div>

  <span class="btn btn-circle border border-base-content/50">✕</span>

  <%= button_to theme, method: :patch, params: { theme: { enabled: !theme.enabled } }, class: "btn shadow-lg btn-circle btn-soft btn-primary border border-base-content/25" do %>
    <% if theme.enabled %>
      <i class="fa-solid fa-circle-check"></i>
    <% else %>
      <i class="fa-regular fa-circle"></i>
    <% end %>
  <% end %>

  <% if theme.custom? %>
    <%= link_to edit_theme_path(theme), class: "btn shadow-lg btn-circle btn-soft btn-primary border border-base-content/25" do %>
      <i class="fa-solid fa-pen"></i>
    <% end %>

    <%= button_to theme, method: :delete, class: "btn shadow-lg btn-circle btn-soft btn-error border border-base-content/25", data: { turbo_confirm: "Confirm deletion of #{theme.name}.", confirm_button: "Delete" } do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  <% else %>
    <%= link_to new_theme_path(clone: theme), class: "btn shadow-lg btn-circle btn-soft btn-primary border border-base-content/25" do %>
      <i class="fa-solid fa-clone"></i>
    <% end %>
  <% end %>
</div>
