<section class="flex w-full flex-col">
  <%= link_to "Applications", applications_path, class: "text-2xl font-bold mb-4 uppercase" %>

  <%= turbo_stream_from :applications %>

  <% if @applications.any? %>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2">
      <%= render partial: "application", collection: @applications, as: :application %>
    </div>
  <% else %>
    <%= render "applications/heros/application_setup" %>
  <% end %>
</section>
