<%# locals: (category:) %>
<% if category.bookmarks.enabled.any? %>
  <div class="flex flex-col gap-2">
    <%= turbo_stream_from category, class: "hidden" %>

    <%= link_to category.name, category_path(category), class: "text-lg text-base-content/32 font-bold uppercase line-clamp-1" %>

    <% if category.bookmarks.any? %>
    <%= render partial: "bookmark", collection: category.bookmarks.enabled.order(Setting[:bookmarks_order]), as: :bookmark %>
    <% else %>
      <%= render "bookmarks/heros/bookmark_setup", category: %>
    <% end %>
  </div>
<% end %>
