<%# locals: (formatters:) %>
<div class="mt-2 overflow-x-auto">
  <table class="table table-xs">
    <thead>
      <tr>
        <th>Format</th>
        <th>Description</th>
        <th>Examples</th>
      </tr>
    </thead>
    <tbody>
      <% formatters.each do |formatter| %>
        <tr>
          <td class="font-mono"><%= directive_format(formatter[:directives]) %></td>
          <td><%= formatter[:description] %></td>
          <td class="font-mono uppercase"><%= directive_example(formatter[:directives]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
