<li>
  <%= link_to bookmark.url, id: bookmark.token, class: "list-row py-1 hocus:bg-white/10 hocus:font-semibold outline-none cursor-pointer", target: "_blank", data: { search_target: "result" } do %>
    <%= regular_icon_tag("bookmark", class: "m-auto fill-primary text-lg") %>
    <div class="my-auto">
      <div><%= bookmark.name %></div>
      <div class="text-xs font-semibold opacity-60 text-base-content/48"><%= bookmark.url %></div>
    </div>
  <% end %>
</li>
