<div class="hidden" data-search-target="webSearch">
  <%= form_with url: web_search_provider_url, method: :get, id: "web_search", class: "w-full p-4", html: { target: "_blank" }, data: { turbo: true, turbo_permanent: true } do |f| %>
    <label class="input w-full">
      <%= solid_icon_tag("globe", class: "text-base-content/48") %>
      <%= f.search_field :q,
        placeholder: "Search #{web_search_provider_name}",
        autofocus: true,
        autocomplete: :off,
        autocorrect: :off,
        autocapitalize: :off,
        spellcheck: false,
        data: { search_target: "webInput", action: "keydown.tab->search#switch" } %>
      <kbd class="kbd kbd-sm">enter</kbd>
      <kbd class="kbd kbd-sm" data-action="click->search#switch">tab</kbd>
      <kbd class="kbd kbd-sm" data-action="click->search#hide">esc</kbd>
    </label>
  <% end %>
</div>
