<div class="hero rounded-box border border-neutral bg-base-200 shadow-md">
  <div class="hero-content text-center">
    <div class="flex max-w-lg flex-col gap-6">
      <p>Bookmarks are organized by categories. You don't have any categories yet, so why not create one?</p>
      <%= link_to new_category_path, class: "btn mx-auto btn-soft btn-primary" do %>
        <%= solid_icon_tag "plus" %> New Category
      <% end %>
      <p class="font-extralight italic">
        The bookmarks feature can be disabled in settings &ndash;
        <%= inline_svg_tag "icon.svg", class: "inline size-6 fill-primary/25" %>
      </p>
    </div>
  </div>
</div>
