<div class="hero bg-base-200 rounded-box shadow-md border border-neutral">
  <div class="hero-content text-center">
    <div class="max-w-lg flex flex-col gap-6">
      <p>Bookmarks are organized by categories. You don't have any categories yet, so why not create one?</p>
      <%= link_to new_category_path, class: "btn btn-primary btn-soft mx-auto" do %>
        <%= solid_icon_tag "plus" %> New Category
      <% end %>
      <p class="font-extralight italic">
        The bookmarks feature can be disabled in settings &ndash;
        <%= inline_svg_tag "icon.svg", class: "inline size-6 fill-primary/25" %>
      </p>
    </div>
  </div>
</div>
