<tr
  class="cursor-pointer hover:bg-white/10"
  data-action="click->icon-picker-form#select"
  data-id="<%= icon.id %>"
>
  <td class="icon size-12"><%= icon_tag(icon) %></td>
  <td><%= icon.name %></td>
</tr>
